body{
    font-family: 'Roboto', sans-serif;
}

.tittle{
    color: purple;
}
.Top-part{
    display: flex;
    
}
.part-1{
    width: 50%;
    padding: 13%;
}
.part-1 h1{
    color: gray;
    
}
.part-1 img{
    width: 100%;
}
.btn-1{
    text-decoration: none;
    background-image: linear-gradient(purple, white);
    padding: 10px 40px;
    border-radius:20px ;
    color: white;
    
}
.banner{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    
}
.food-recipies{
    text-align: center;
    
}
.food-recipies h1{
    color: gray;
}
.Recipi-tittles{
    margin-top: 50px;
}
.recipies-items{
   width: 50%;
   margin-left: 8%;
   margin-right: 8%;
   border-radius: 5%;
   box-shadow: 10px 10px 40px gray;

}

.recipies-items img{
    width: 100%;
    padding-top: 20px;
    padding-right: 2%;
    border-radius: 20%;
}
.recipies-items p{ 
    color: gray;
}
.container{
    width: 50%;
   margin-left: 8%;
   margin-right: 8%;
   border-radius: 5%;
   box-shadow: 10px 10px 40px gray;
}
footer{
    background-color: black;
}
footer h1{
    text-align: center;
    color: gray;
}
footer p{
    color: gray;
    text-align: center;
    font-weight: 300;
}
